<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header>
        <h1>Async Inn</h1>
        <nav class="nav-bar">
            <ul>
                <li><a href="~/Views/Home/Index.cshtml">Home</a></li>
                <li><a href="~/Views/Hotels/Index.cshtml">Hotel</a></li>
                <li><a href="~/Views/HotelRooms/Index.cshtml">HotelRooms</a></li>
                <li><a href="~/Views/Rooms/Index.cshtml">Rooms</a></li>
                <li><a href="~/Views/RoomAmenities/Index.cshtml">RoomAmenities</a></li>
                <li><a href="~/Views/Amenities/Index.cshtml">Amenities</a></li>
            </ul>
        </nav>
    </header>
    <div>
        @RenderBody()
    </div>
    <footer>
        <p>This is my footer</p>
    </footer>
</body>
</html>
