@model AsyncInnApp.Models.Amenities

@{
    ViewData["Title"] = "Create";
}
@{
    Layout = "_Layout";
}
<div class="title-head">
    <h4>Create</h4>

    <h4>Amenities</h4>
</div>
<hr />

<section class="form-holder">

    <div>
        <div class="form">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly"></div>
                <div>
                    <div>
                        <label asp-for="Name"></label>
                        <input asp-for="Name"/>
                    </div>
                    <span asp-validation-for="Name"></span>
                </div>
                <div class="button-div">
                    <input type="submit" value="Create"/>
                </div>
            </form>
        </div>
    </div>

    <div class="back">
        <a asp-action="Index">Back to List</a>
    </div>
</section>
