@model AsyncInnApp.Models.HotelRoom

@{
    ViewData["Title"] = "Create";
}
@{
    Layout = "_Layout";
}
<div class="title-head">
    <h4>Create</h4>

    <h4>HotelRoom</h4>
</div>
<hr />
<section class="form-holder">
    <div>
        <div class="form">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly"></div>
                <div>
                    <div>
                        <label asp-for="HotelID"></label>
                        <select asp-for="HotelID" asp-items="ViewBag.HotelID"></select>
                    </div>
                </div>
                <div>
                    <div>
                        <label asp-for="RoomNumber"></label>
                        <input asp-for="RoomNumber"/>
                    </div>
                    <span asp-validation-for="RoomNumber"></span>
                </div>
                <div>
                    <div>
                        <label asp-for="RoomID"></label>
                        <select asp-for="RoomID" asp-items="ViewBag.RoomID"></select>
                    </div>
                </div>
                <div>
                    <div>

                        <label asp-for="Rate" ></label>
                        <input asp-for="Rate"/>
                    </div>
                    <span asp-validation-for="Rate"></span>
                </div>
                <div>
                    <label class="check-box">
                        @Html.DisplayNameFor(model => model.PetFriendly) <input class="input-box" asp-for="PetFriendly" />
                    </label>
                </div>
                <div class="button-div">
                    <input type="submit" value="Create"/>
                </div>
            </form>
        </div>
    </div>

    <div class="back">
        <a asp-action="Index">Back to List</a>
    </div>


</section>
