@model AsyncInnApp.Models.HotelRoom

@{
    ViewData["Title"] = "Edit";
}
@{
    Layout = "_Layout";
}
<div class="title-head">
    <h4>Edit</h4>

    <h4>HotelRoom</h4>
</div>
<hr />
<section class="form-holder">

    <div>
        <div class="form">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly"></div>
                <div>
                    <div>
                        <label asp-for="RoomID"></label>
                        <select asp-for="RoomID" asp-items="ViewBag.RoomID"></select>
                    </div>
                </div>
                <div>
                    <div>
                        <label asp-for="Rate"></label>
                        <input asp-for="Rate" />
                    </div>
                    <span asp-validation-for="Rate"></span>
                </div>
                <div>
                    <label class="check-box">
                        @Html.DisplayNameFor(model => model.PetFriendly) <input class="input-box" asp-for="PetFriendly" />
                    </label>
                </div>
                <div class="button-div">
                    <input type="submit" value="Save" />
                </div>
            </form>
        </div>
    </div>

    <div class="back">
        <a asp-action="Index">Back to List</a>
    </div>
</section>

