@model AsyncInnApp.Models.Hotel

@{
    ViewData["Title"] = "Edit";
}
@{
    Layout = "_Layout";
}
<div class="title-head">
    <h4>Edit</h4>

    <h4>Hotel</h4>
</div>
<hr />
<section class="form-holder">

    <div>
        <div class="form">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly"></div>
                <div>
                    <div>
                        <label asp-for="Name"></label>
                        <input asp-for="Name" />
                    </div>
                    <span asp-validation-for="Name"></span>
                </div>
                <div>
                    <div>
                        <label asp-for="Address"></label>
                        <input asp-for="Address" />
                    </div>
                    <span asp-validation-for="Address"></span>
                </div>
                <div>
                    <div>
                        <label asp-for="Phone"></label>
                        <input asp-for="Phone" />
                    </div>
                    <span asp-validation-for="Phone"></span>
                </div>
                <div class="button-div">
                    <input type="submit" value="Save" />
                </div>
            </form>
        </div>
    </div>

    <div class="back">
        <a asp-action="Index">Back to List</a>
    </div>

</section>
